<div class="gamegrid">
  <div
    *ngFor="let tile of game.tiles; index as i"
    (click)="newSelectTile(i)"
    [class.neutral]="
      game.tiles[i].tileType === 'neutral' && game.tiles[i].selected === true
    "
    [class.red]="
      game.tiles[i].tileType === 'red' && game.tiles[i].selected === true
    "
    [class.blue]="
      game.tiles[i].tileType === 'blue' && game.tiles[i].selected === true
    "
    [class.assassin]="
      game.tiles[i].tileType === 'assassin' && game.tiles[i].selected === true
    "
  >
    {{ game.tiles[i].text }}
  </div>
</div>
