<div class="gamegrid">
  <div
    *ngFor="let tile of game.tiles; index as i"
    (click)="newSelectTile(tile)"
    [class]="tile.currentClass"
  >
    {{ tile.text }}
  </div>
</div>

<!-- old way of class binding: 
  [class.neutral]="tile.tileType === 'neutral' && tile.selected === true"
    [class.red]="tile.tileType === 'red' && tile.selected === true"
    [class.blue]="tile.tileType === 'blue' && tile.selected === true"
    [class.assassin]="tile.tileType === 'assassin' && tile.selected === true"-->
