<h1>Flopnames</h1>

<h2 *ngIf="gameService.gameOver === true">{{ winningMessage }}</h2>

<div style="margin-bottom:30px; margin-top:30px">
  <button (click)="setRedTeam()">Red</button>
  <button (click)="setBlueTeam()">Blue</button>
  <br />
  Current Team:
  <span
    [class.redtext]="gameService.currentTeam === gameService.redTeam"
    [class.bluetext]="gameService.currentTeam === gameService.blueTeam"
    >{{ gameService.currentTeam.name }}</span
  >
</div>

<fn-gamegrid (teamWon)="displayWinner($event)"></fn-gamegrid>

<button style="margin-top:10px" (click)="toggleKey()">Toggle Key</button>

<div class="keygrid" [style.visibility]="keyVisibility">
  <div class="blue">o</div>
  <div class="neutral"></div>
  <div class="red">o</div>

  <div class="assassin">x</div>
  <div class="blue">o</div>
  <div class="neutral"></div>

  <div class="neutral"></div>
  <div class="neutral"></div>
  <div class="red">o</div>
</div>
